.navbox{
    display: flex;
    justify-content: space-evenly;
    padding: 5px 5px;
    background-color: var(--secondary-bg-color);
   align-items: center;
}
.logo{
cursor: pointer;
}
.element ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
 padding: 5px 10px;
 align-items: center;

}
.element ul li{
    cursor: pointer;
   
}
.element ul li:hover{
    color: lightblue;
}

.element{
    width: 70%;
}